<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!--强制使用Webkit内核-->
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <script src="../scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <script src="../scripts/bootstrap.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->

    <link rel="stylesheet" type="text/css" href="../style/login_style.min.css">

    <!--<link rel="stylesheet" href="../static/style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style/login_style.min.css">-->


    <title>修改密码</title>
    <!--弹出提示框-->
    <script>
        $(function(){
            if(!!window.ActiveXObject||"ActiveXObject" in window){
                alert("提示: 您在使用的浏览器内核版本可能导致浏览异常。\n" +
                    "\n" +
                    "解决方法（任选其一）：\n" +
                    "请切换到当前浏览器的极速模式\n" +
                    "请安装Chrome(谷歌浏览器）、Firefox（火狐）浏览器、QQ浏览器、搜狐浏览器、360浏览器来使用本系统\n")
            }
        });
    </script>

</head>

<body>
    <div class="container-fluid">
        <div class="main">
            <div class="header">
                <label class="header_name">高安市2018年下半年“双优”工作满意度评价</label>
            </div>
            <div class="content">
                    <div class="main-blur"></div>
                <div class="rowall">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6 line">
                            <!--<img class="img-responsive" src="../images/content.png">-->
                        </div>

                        <fieldset class="col-md-6 col-sm-6 col-xs-6">
                            <!--<fieldset class="col-md-6 col-sm-6 col-xs-6">-->
                            <ul class="tab col-md-8 col-md-offset-3 col-sm-offset-1  col-sm-10 col-xs-12">
                                <li id="tab1"><button class="two_tab">修改密码</button></li>
                            </ul>
                            <div id="form_content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-3 col-sm-offset-1  col-sm-10 col-xs-12">
                                            <input id="username" type="text" name="" size="35" placeholder="用户名">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-3 col-sm-offset-1  col-sm-10 col-xs-12">
                                            <input id="original_password" type="text" name="" size="35" placeholder="原密码">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-3 col-sm-offset-1  col-sm-10 col-xs-12">
                                            <input id="new_password" type="password" name="" size="35" placeholder="新密码">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-3 col-sm-offset-1  col-sm-10 col-xs-12">
                                            <input id="confirm_password" type="password" name="" size="35" placeholder="确认密码"
                                                style="margin-top: 20px;">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-8 col-md-offset-3 col-sm-offset-1  col-sm-10 col-xs-12">
                                            <div class="row btn-row">
                                                <div class="col-md-5 col-sm-5 col-xs-6">
                                                    <a href="/user/login">
                                                        <button class="btn btn-default change_btn" type="button"
                                                            onmouseover="this.style.backgroundColor='#c73e3e';this.style.color = 'white';"
                                                            onmouseout="this.style.backgroundColor='#C50001';">返&nbsp;&nbsp;&nbsp;回</button>
                                                    </a>
                                                </div>
                                                <div class="col-md-5 col-sm-5 col-xs-6">
                                                    <button class="btn btn-default login_btn" type="button" id="btn_change_pa"
                                                        onmouseover="this.style.backgroundColor='#c73e3e';this.style.color = 'white';"
                                                        onmouseout="this.style.backgroundColor='#C50001';">确&nbsp;&nbsp;&nbsp;定</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="footer">
                <span>
                    高安市2018年度下半年“双优”工作满意度评价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    地址：江西省高安市锦惠中路376号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    邮政编码：330800&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    联系电话：0795-5288156
                </span>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" th:inline="javascript">
    $("#btn_change_pa").click(function () {
        var reg = /^[a-zA-Z0-9]{3,18}$/; //6-18位字母和数字的混合组成的正则表达式的js代码
        var username = document.getElementById("username");
        var original_password = document.getElementById("original_password");
        var new_password = document.getElementById("new_password");
        var confirm_password = document.getElementById("confirm_password");
        if (username.value === "") {
            alert("用户名不能为空，请重新填写！");
            return false;
        } else if (!reg.test(username.value)) {
            alert("请正确输入用户名！");
            username.value = "";
            username.focus();
            return false;
        }
        if (original_password.value === "") {
            alert("原密码不能为空，请重新填写！");
            return false;
        } else if (!reg.test(original_password.value)) {
            alert("请正确输入原密码！");
            original_password.value = "";
            original_password.focus();
            return false;
        } else if (new_password.value === "") {
            alert("密码不能为空，请重新输入！");
            return false;
        } else if (!reg.test(new_password.value)) {
            alert("请正确输入新密码，由6-18位字母和数字的混合组成");
            new_password.value = "";
            new_password.focus();
            return false;
        } else if (confirm_password.value !== new_password.value) {
            alert("两次输入不一致，请重新确认密码！");
            confirm_password.value = "";
            confirm_password.focus();
            return false;
        }
        var username1 = $("#username").val();
        var original_password1 = $("#original_password").val();
        var new_password1 = $("#new_password").val();
        var confirm_password1 = $("#confirm_password").val();
        $.ajax({
            url: "/user/editPassword", //登录接口
            type: "post",
            data: {
                "username": username1,
                "original_password": original_password1,
                "new_password": new_password1,
            },
            dataType: "json",
            success: function (res) {
                if (res.code !== 200) {

                    return false;
                }
                alert("修改成功");
                window.location.href = "/"
            },
            error: function () {
                alert("修改密码失败！");
                return false;
            }
        });
    })
</script>

</html>