<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员查看状态详情</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <link href="../style/score_list.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="../scripts/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="../scripts/manage_detail.js"></script>
    <style>
        .back
        {
            width: 100px;
            float: right;
            border-radius: 3px;
            background-color: #c50001;
            color: #fff;
            border: 0;
            float: right;
            margin-top: 10px
        }
    </style>
</head>

<div class="container-fluid">
     <div style="width: 80%;margin: auto auto;height: auto">
            <table  id="table" class="col-xs-12"  data-pagination="true"  >
            </table>
         <a href="/admin/adminList">
             <button type="button" id="back_ex" class="back">返回</button>
         </a>
     </div>
</div>
<body>

</body>
</html>